<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/output.css" />
  <title>BLOG-IT: Author Edit</title>
</head>
<body>
  
  <!-- Header -->
  <%- include('../views/layout/header.ejs') %>

  <!-- Links to author homepage -->
  <div class="flex ml-10 mt-5 ">
    <form action="/author/home" method="GET">
      <button href="#" class="btn btn-secondary w-40">
        <!-- Return icon -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
          <path fill-rule="evenodd" d="M9.53 2.47a.75.75 0 0 1 0 1.06L4.81 8.25H15a6.75 6.75 0 0 1 0 13.5h-3a.75.75 0 0 1 0-1.5h3a5.25 5.25 0 1 0 0-10.5H4.81l4.72 4.72a.75.75 0 1 1-1.06 1.06l-6-6a.75.75 0 0 1 0-1.06l6-6a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
        </svg>
        Return
      </button>
    </form>
  </div>

  <!-- Hero section -->
  <section>
    <h1>Edit Your Article</h1>
  </section>

  <!-- Form to edit the article -->
  <section class="flex justify-center items-center m-5 sm:m-10">
    <div class="mt-7 gap-5 p-5 overflow-hidden bg-slate-400 shadow-xl rounded-lg w-full max-w-7xl">
      <!-- Container for the comment section title -->
      <div class="flex flex-col p-5 pl-7 bg-slate-200 rounded-lg shadow-lg justify-start">
        <p class="font-medium text-xl text-slate-500">Article Data</p>
        <div class="flex flex-col gap-0 sm:flex-row sm:gap-5">
          <p class="font-medium text-lg text-slate-400"> Created: <%= typeof(draft) != 'undefined' ? draft.creation : new Date().toISOString().slice(0, 10) %></p>
          <p class="font-medium text-lg text-slate-400"> Last Modified: <%= typeof(draft) != 'undefined' ? draft.modified : new Date().toISOString().slice(0, 10) %></p>
        </div>          
          <!-- New comment input -->
          <form action="/author/edit" method="POST" class="flex flex-col">
            <!-- Input for commenter name -->
            <label class="form-control w-full max-w-xs">
              <div class="label mt-5">
                <span class="label-text text-slate-500 font-semibold text-xl">Article Title</span>
              </div>
              <input type="text" placeholder="Title" class="input input-bordered w-full max-w-xs" name="edit_title" autocomplete="off" value="<%= typeof(draft) != 'undefined' ? draft.title : '' %>" />
            </label>
            <!-- Input for the comment -->
            <label class="form-control">
              <div class="label mt-5">
                <span class="label-text text-slate-500 font-semibold text-xl">Article Content</span>
              </div>
              <textarea class="textarea textarea-bordered h-64 resize whitespace-pre-line" placeholder="Content" name="edit_content" id="article_content" autocomplete="off"><%= typeof(draft) != 'undefined' ? draft.content : ''%></textarea>
            </label>

            <input type="hidden" name="article_id" value="<%= typeof(draft) != 'undefined' && draft.id ? draft.id : 'new' %>">
            <!-- Submit comment button -->
            <button type="submit" class="btn btn-primary w-full mt-3">
              Submit Changes
            </button>
          </form>
      </div>
    </div>

  </section>

  <!-- Footer -->
  <%- include('../views/layout/footer.ejs') %>

</body>
</html>