<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/output.css" />
    <title>BLOG-IT: Articles</title>
  </head>
  <body>
    <!-- Header Navbar -->
    <%- include('../views/layout/header.ejs') %>

    <!-- Display success message if comment is posted successfully -->
    <div class="flex justify-center items-center">
      <% if(typeof(success) != 'undefined') { %>
        <div id="comment_success_message" class="bg-green-100 skeleton border border-green-400 rounded-md text-green-700 px-4 py-3 max-w-xl fixed w-full z-[1]" role="alert">
          <strong class="font-bold">Success:</strong>
          <span class="block sm:inline">
            <%= success %>
          </span>
          <!-- Close icon that remove the success message on click -->
          <button onclick="removeMessage('comment_success_message')" class="absolute top-0 bottom-0 right-0 px-4 py-3">
            <svg class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
          </button>
        </div>
      <% } %>
    </div>

    <!-- Links to reader homepage -->
    <div class="flex ml-10 mt-5 ">
      <form action="/reader/home" method="GET">
        <button href="#" class="btn btn-secondary w-40">
          <!-- Return icon -->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M9.53 2.47a.75.75 0 0 1 0 1.06L4.81 8.25H15a6.75 6.75 0 0 1 0 13.5h-3a.75.75 0 0 1 0-1.5h3a5.25 5.25 0 1 0 0-10.5H4.81l4.72 4.72a.75.75 0 1 1-1.06 1.06l-6-6a.75.75 0 0 1 0-1.06l6-6a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
          </svg>
          Return
        </button>
      </form>
    </div>

    <!-- Hero section -->
    <section class="mb-0 flex flex-col items-center">
      <h1>Article Reader</h1>
      <div class="flex flex-col gap-3 mt-10 sm:flex-row justify-center">
        <!-- Links to article -->
        <a href="#article" class="btn btn-primary text-slate-200 text-lg h-16 w-72">Jump to Article</a>
      </div>
      <!-- Links to article description and comments -->
      <div class="flex flex-col gap-3 mt-3 sm:flex-row justify-center">
        <a href="#comments" class="btn btn-secondary text-slate-200 text-lg h-16 w-72">Jump to Comments</a>
        <a href="#article_details" class="btn btn-secondary text-slate-200 text-lg h-16 w-72">Jump to Article Details</a>
      </div>
    </section>

    <!-- Container to store the article and article details -->
    <div class="flex flex-col sm:flex-row justify-center">
      <!-- Article section -->
      <section id="article" class="mx-5 mb-0 max-w-7xl">
        <!-- Container for the article -->
        <div class="mt-7 gap-5 p-5 overflow-hidden bg-slate-400 shadow-xl rounded-lg">
          <!-- Container for the article title and content -->
          <div class="flex flex-col p-5 pl-7 bg-slate-200 rounded-lg shadow-lg">
            <!-- Article title -->
            <h1>
              <% if (typeof(published) != 'undefined') { %>
                <%= published.title %>
              <% } %>
            </h1>

            <!-- Article content -->
            <p class="text-xl pt-4 font-semibold text-slate-500 whitespace-pre-line">
              <% if (typeof(published) != 'undefined') { %>
                <%- published.content %>
              <% } %>
            </p>
            <% if (typeof published != 'undefined') { %>
              <% if (req.query.like == '1') { %>
                <a href="/reader/article/like?id=<%= published.id %>&like=0" class="btn skeleton bg-red-300 text-red-900 border-red-300 hover:bg-red-300 hover:border-red-300 hover:shadow btn-wide border-2 mt-5">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
                  </svg>
                  You've liked this article
                </a>
              <% } else { %>
                <a href="/reader/article/like?id=<%= published.id %>" class="btn skeleton btn-outline btn-wide border-red-400 text-red-700 border-2 mt-5 hover:bg-red-300 hover:text-red-900 hover:border-red-300 hover:shadow">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                  </svg>
                  Like this article
                </a>
              <% } %>
            <% } %>
          </div>
        </div>
      </section>

      <!-- Article detail section -->
      <section id="article_details" class="mx-5 mt-0 mb-3 sm:mr-5 sm:mt-16 sm:mb-16">
        <!-- Container for the article details -->
        <div class="mt-7 gap-5 p-5 overflow-hidden bg-slate-400 shadow-xl rounded-lg">
          <!-- Container for the article details title and content -->
          <div class="flex flex-col p-5 pl-7 min-w-60 bg-slate-200 rounded-lg shadow-lg">
            <h1 class="text-3xl text-start">Article Details</h1>
            <!-- Author section -->
            <p class="mt-2 font-medium text-xl text-slate-400">Author</p>
            <!-- Container to store the author icon and name in a row -->
            <div class="flex items-center text-slate-500 font-medium text-lg gap-2">
              <!-- Author icon -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
              </svg>            
              <!-- Author name   -->
              <p>
                <%= author.author_name %>
              </p>
            </div>
            <!-- Publication date section -->
            <p class="mt-2 font-medium text-xl text-slate-400">Publication Date</p>
            <!-- Container to store the calender icon and publication date in a row -->
            <div class="flex items-center text-slate-500 font-medium text-lg gap-2">
              <!-- Calender icon -->
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path fill-rule="evenodd" d="M6.75 2.25A.75.75 0 0 1 7.5 3v1.5h9V3A.75.75 0 0 1 18 3v1.5h.75a3 3 0 0 1 3 3v11.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V7.5a3 3 0 0 1 3-3H6V3a.75.75 0 0 1 .75-.75Zm13.5 9a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5Z" clip-rule="evenodd" />
              </svg>                       
              <!-- Publication date -->
              <p>
                <% if (typeof(published) != 'undefined') { %>
                  <%= published.publication %>
                <% } %>
              </p>
            </div>
            <!-- Views section -->
            <p class="mt-2 font-semibold text-xl text-slate-400">Views</p>
            <!-- Container to store the view icon and the views amount in a row -->
            <div class="flex items-center text-slate-500 font-medium text-lg gap-2">
              <!-- View icon -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
              </svg>     
              <!-- Views amount -->
              <p>
                <% if (typeof(published) != 'undefined') { %>
                  <%= published.reads + 1 %>
                <% } %>
              </p>
            </div>
            <!-- Likes section -->
            <p class="mt-2 font-semibold text-xl text-slate-400">Likes</p>
            <!-- Container to store the like icon and the likes amount in a row -->
            <div class="flex items-center text-slate-500 font-medium text-lg gap-2">
              <!-- Like icon -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
              </svg>  
              <!-- Likes amount -->
              <p>
                <% if (typeof(published) != 'undefined') { %>
                  <%= published.likes %>
                <% } %>
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Comment section -->
    <section id="comments" class="flex justify-center mt-0 sm:mt-5 xl:mx-80 lg:mx-48 sm:mx-20">
      <!-- Container for the whole comment section -->
      <div class="mt-7 gap-5 p-5 overflow-hidden bg-slate-400 shadow-xl rounded-lg max-w-7xl min-w-full">
        <!-- Container for the comment section title -->
        <div class="flex flex-col p-5 pl-7 bg-slate-200 rounded-lg shadow-lg">
          <h1 class="text-2xl text-start">
            Comments
          </h1>
          <!-- Dropdown for sorting the comments -->
          <details id="dropdown" class="dropdown">
            <summary id="sort_button" class="btn btn-outline bg-transparent mt-5 ml-0 hover:bg-transparent hover:tracking-wide hover:text-slate-500 hover:border-slate-500">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 7.5 7.5 3m0 0L12 7.5M7.5 3v13.5m13.5 0L16.5 21m0 0L12 16.5m4.5 4.5V7.5" />
              </svg>
              Sort: Publication Date      
            </summary>
            <!-- Dropdown content for sorting the comments -->
            <ul class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
              <li><a href="/reader/article">Publication Date</a></li>
            </ul>
          </details>
        </div>
        
        <% if (comments && comments.length > 0) { %>
          <% comments.forEach(comment => { %>
            <!-- Container for the each comment -->
            <div class="flex flex-col p-5 pl-7 my-3 bg-slate-200 rounded-lg shadow-lg">
              <!-- Author section -->
              <div class="flex items-center text-slate-500 font-medium text-lg gap-2 border-b-2 border-slate-300">
                <!-- Author icon -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                </svg>            
                <!-- Author name   -->
                <p>
                  <%= comment.commenter %>
                </p>
              </div>
              <!-- Comment -->
              <p class="text-xl pt-4 font-semibold text-slate-500">
                <%= comment.comment %>
              </p>
              <p class="mt-5 text-slate-400 text-md font-semibold">Posted: <%= comment.creation %></p>
            </div>
          <% }) %>
        <% } else { %>
          <div class="p-5 pl-7 my-3 bg-slate-200 rounded-lg shadow-lg">
            <p class="text-slate-500 font-semibold">Be the first one to comment?</p>
          </div>
        <% } %>

        <!-- New comment input -->
        <div id="new_comment" class="flex flex-col p-5 pl-7 my-3 bg-slate-200 rounded-lg shadow-lg">
          <form action="/reader/article/comment?id=<%= req.query.id %>" method="POST">
            <div class="flex flex-col gap-3">
              <!-- Display input error messages -->
              <% if(typeof(alert) != 'undefined') { %>
                <% alert.forEach(function(error) { %>
                  <div class="bg-red-100 border skeleton border-red-400 text-red-700 px-4 py-3 rounded relative max-w-xl w-full" role="alert">
                    <strong class="font-bold">Invalid Input:</strong>
                    <span class="block sm:inline">
                      <%= error %>
                    </span>
                  </div>
                <% }) %>
              <% } %>
            </div>
            <!-- Input for commenter name -->
            <label class="form-control w-full max-w-xs">
              <div class="label">
                <span class="label-text text-slate-500 font-semibold text-md">Commenter's name</span>
              </div>
              <input name="commenter_name" type="text" placeholder="Name" autocomplete="off" name="commenter" class="input input-bordered w-full max-w-xs " />
            </label>
            <!-- Input for the comment -->
            <label class="form-control">
              <div class="label">
                <span class="label-text text-slate-500 font-semibold text-md">Comment</span>
              </div>
              <textarea class="textarea textarea-bordered h-24 resize" autocomplete="off" name="comment" placeholder="Enter your message.."></textarea>
            </label>
            <!-- Submit comment button -->
            <button type="submit" class="btn btn-primary btn-wide mt-5">Submit</button>
          </form>
        </div>
      </div>
    </section>
    
    <!-- Footer -->
    <%- include('../views/layout/footer.ejs') %>

  </body>
  <script src="/script.js"></script>
</html>